@inherits LayoutComponentBase


<div class="Layout">
    <div class="header">
         <!--<h1>Our List</h1> -->
         <div>
             <a>@today.ToString("dddd,dd MMMM yyyy")</a>
         </div>
    </div>
    <div class="sidebar">
        <!--<a href="/">Home</a> <br>
        <a href="/counter">Counter</a> <br>
        <a href="/converter">Converter</a> <br>-->
        <NavMenu />
    </div>
    <div class="content">
       <p> @Body</p>
    </div>
    <div class="footer">
        <footer>@footerMessage</footer>
    </div>
</div>


<!--
<div>
    <a>@today.ToString("dddd,dd MMMM yyyy")</a>
</div>
<br>
@*@Body Body of ShoppingList*@

<footer>
   @footerMessage
</footer>
-->
@code {
    public string footerMessage { get; set; } = "Great Shopping";

    DateTime today = DateTime.Today;


}
